:root {
  --mainGreen: #3bc0c3;
  --footerGray: #b6c2c9;
  --iconGray: #4c565f;
  --captionBlack: #71706e;
  --redColor: #f00;
}

html{
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}


/* top bar section  */
#top-bar {
  background-color: var(--mainGreen);
  height: 1.4rem;
  width: 100%;
  border: none;
}


/* Navbar section */
.navbar {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  height: 4rem;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
}

.nav-bottom .nav-item {
  color: var(--iconGray) !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.nav-bottom .nav-sale {
  color: var(--redColor) !important;
}

.ul-bottom-nav {
  display: flex;
  justify-content: space-between;
}


/* Product list section  */


/* footer section  */
.footer {
  bottom: 0;
  background-color: var(--footerGray);
  color: #fff;
  padding: 1rem;
  width: 100%;
}

.footer a {
  color: #fff;
}

.input-group input {
  height: 2rem;
  width: 10rem;
  margin-right: 0.5rem;
}

.list-unstyled li a {
  font-size: 0.8rem;
}

.col-md-3 {
  text-transform: uppercase;
}

.col-md-3 h5 {
  font-weight: bold;
}



/* All media queries */

/* for small screens  */
@media all and (max-width: 480px) {
  .brand-logo {
    height: 2rem;
  }

  .footer {
    margin-bottom: 0;
  }

  .footer input, .footer button {
    width: 100%;
  }

  .footer button {
    width: 100%;
    margin-top: 0.5rem;
  }
}


/* for big screens  */
@media all and (min-width: 960px) {
  html{
    position: relative;
    min-height: 100%;
  }

  .footer {
    padding: 1rem 1rem 5rem 1rem;
    position: absolute;
  }

  .footer button {
    margin-right: -5rem;
  }
}