:root {
  --mainGreen: #3bc0c3;
  --footerGray: #b6c2c9;
  --iconGray: #4c565f;
  --captionBlack: #71706e;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#top-bar {
  background-color: var(--mainGreen);
  height: 1.4rem;
  width: 100%;
  border: none;
}

.brand-logo {
  height: 4rem;
}




@media all and (max-width: 480px) {
  .brand-logo {
    height: 2rem;
  }
}