:root {
  --mainWhite: #fff;
  --mainGreen: #3bc0c3;
  --footerGray: #b6c2c9;
  --iconGray: #4c565f;
  --captionBlack: #71706e;
  --redColor: #f00;
}

html{
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}


/* top bar section  */
#top-bar {
  background-color: var(--mainGreen);
  height: 1.4rem;
  width: 100%;
  border: none;
}


/* Navbar section */
.navbar {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  height: 4rem;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
}

.nav-bottom .nav-item {
  color: var(--iconGray) !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.nav-bottom .nav-sale {
  color: var(--redColor) !important;
}

.ul-bottom-nav {
  display: flex;
  justify-content: space-between;
}


/* Product list section  */


/* footer section  */
.footer {
  bottom: 0;
  background-color: var(--footerGray);
  color:var(--mainWhite);
  padding: 1rem;
  width: 100%;
}

.footer a {
  color: var(--mainWhite);
}

.input-group input {
  height: 2rem;
  width: 10rem;
}

.list-unstyled li a {
  font-size: 0.8rem;
}

.col-md-3, .col-md-6 {
  text-transform: uppercase;
}

.col-md-3 h5, .col-md-6 h5 {
  font-weight: bold;
}

.subscribe-text {
  text-align: left;
}

.subs-input {
  position: relative;
  padding-left: 2.5rem;
  font-size: 0.8rem;
  color: var(--footerGray);
  border: none;
  border-radius: 0.2rem !important;
}

.subs-icon {
  position: absolute;
  font-size: 1.2rem;
  color: var(--iconGray);
  z-index: 100;
  top: 0.4rem;
  left: -6.2rem;
}

.btn-subscribe {
  background-color: var(--mainGreen);
  color: var(--mainWhite);
  text-transform: uppercase;
  height: 2.05rem;
  line-height: 1rem;
  font-weight: 500;
  border: none;
}



/* All media queries */

/* for small screens  */
@media all and (max-width: 480px) {
  .brand-logo {
    height: 2rem;
  }

  .footer {
    margin-bottom: 0;
  }

  .footer input, .footer button {
    width: 100%;
  }

  .footer button {
    margin-top: 0.5rem;
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
  }

  .subs-icon {
    left: 0.5rem;
  }
}


/* for big screens  */
@media all and (min-width: 960px) {
  html{
    position: relative;
    min-height: 100%;
  }

  .footer {
    padding: 1rem 1rem 5rem 1rem;
    position: absolute;
  }

  .footer button {
    margin-right: 0.5rem;
  }

  .input-group input {
    margin-left: -7rem;
    margin-right: 0.5rem;
  }

  .subscribe-text {
    margin-left: -7rem;
  }

  .btn-subscribe {
    font-size: 0.8rem;
  }
}