.navbar {
  display: flex;
  flex-direction: column;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-bottom {
  display: flex;
  width: 100%;
}

.nav-top-cart {
  display: flex;
}

.nav-bottom .nav-item {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 0px;
  width: 7rem;
  text-align: center;
}

.my-account {
  width: 10rem;
  margin-left: -1rem;
}

.nav-bottom .nav-item:hover {
  box-sizing: border-box;
}

.nav-bottom .dropdown .dropdown-menu {
  min-width: 7rem;
  border-radius: 0;
}

.dropdown-item {
  font-size: 0.75rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
}

.nav-bottom .nav-item .nav-link {
  color: var(--iconGray);
}

.nav-bottom > ul > li > a::after {
  display: none;
}

.nav-bottom .nav-sale .nav-link {
  color: var(--redColor);
}

.brand-logo {
  height: 4rem;
}

.ul-bottom-nav {
  display: flex;
  justify-content: space-between;
}

.black-bar {
  height: 0.3rem;
  width: 102%;
  background-color: var(--fullBlack);
  margin-left: -1.1rem;
}



/* for small screens  */
@media all and (max-width: 480px) {
  .brand-logo {
    height: 2rem;
    margin-left: -1rem;
  }

  .toggler-button {
    background-color: var(--footerGray);
    height: 2rem;
    widows: 2rem;
  }

  .nav-bottom {
    flex-wrap: wrap;
    margin-left: -3.5rem;
  }

  .ul-bottom-nav, .nav-link, .dropdown-menu, .dropdown-item {
    width: 99vw;
  }

  .nav-link, .dropdown-menu, .dropdown-item {
    border-bottom: 0.03rem solid var(--footerGray);
  }

  .nav-bottom .nav-item .nav-link {
    text-align: left;
    padding-left: 1rem;
  }

  .nav-bottom .dropdown .dropdown-menu {
    border: none;
  }

  .nav-bottom .dropdown .dropdown-menu > li > ul > li > a {
    padding-left: 3rem;
  }

  .dropdown-item {
    font-size: 0.78rem;
    font-weight: bold;
  }

  .dropdown-item:hover {
    background-color: transparent;
  }

  
  .dropdown-menu > li > a:after {
    display: none;
  } 

  .my-account {
    margin-top: 0rem;
    margin-left: 0rem;
  }
}


/* for big screens  */
@media all and (min-width: 480px) {
  .nav-bottom {
    justify-content: space-between;
  }

  .nav-bottom .nav-item:hover {
    background-color: var(--fullBlack);
    border-bottom: 0.25rem solid var(--mainGreen);
    line-height: 0.95rem;
  }

  .nav-bottom .nav-item:hover .nav-link {
    color: var(--mainWhite);
  }

  .nav-bottom .dropdown .dropdown-menu {
    background-color: var(--halfGray);
  }

  .dropdown-item:hover {
    background-color: var(--footerGray);
  }

  .dropdown-menu > li > a:after {
    text-decoration: underline;
    transform: rotate(-90deg);
  }
}